@import '~styles/helpers/_module';
 

.image-container {
	margin: 0 auto 30px auto !important;
	border: 10px solid #fff;
	//box-shadow: 0px 0px 55px;
	.overlay-content {
		background-color: transparent !important;
		text-align: center !important;
		.headlines-content {
			.sub-headline-text {
				text-align: center;
				font-size: 40px !important;
				font-weight: 500 !important;
    			color: #CDB67C !important;
   				text-transform: uppercase;
				letter-spacing: 0;
				padding:16px;
				border: 2px solid transparent;
			}
		}
	}
	&:hover {
		//box-shadow: 0px 0px 55px;
		transition: 0.5s;
		-webkit-transition: 0.5s;
		.overlay-content {
			.headlines-content {
				.sub-headline-text {
					border: 2px solid #CDB67C;
					transition: 0.5s;
					-webkit-transition: 0.5s;
				}
			}
		}
	}
}