@import "~styles/helpers/_module";

:host {
	overflow: hidden;
	.configuration {
		padding: 0 !important;
	}
	::ng-deep upscale-aspect-ratio {
		h1, h2, h3, h4 {
			font-weight: bold;
		}
		h1 {
			font-size: 2em;
			margin-top: 0.67em;
			margin-bottom: 0.67em;
		}
		h2 {
			font-size: 1.5em;
			margin-top: 0.83em;
			margin-bottom: 0.83em;
		}
		h3 {
			font-size: 1.17em;
			margin-top: 1em;
			margin-bottom: 1em;
		}
		h4 {
			font-size: 1em;
			margin-top: 1.33em;
			margin-bottom: 1.33em;
		}
		.content {
			overflow:visible !important;
		}
		.about-us {
			text-align: left;
			p {
				font-size: 14px;
			}
		}
		.container {
			max-width: none;
			width: 100%;
			.container {
				padding: 0;
			}
		}
		.footer {
			background: linear-gradient(#1A1A19, #2B2E3C);
			text-align: center;
			float: left;
			position: relative;
			width:calc(100% - 20px);
			margin: 10px;
			&:before {
				position: absolute;
				top: 0;

			}
			.logo {
				width:100%;
				margin: 30px 0;
				img {
					width:200px;
				}
			}
			.site-info {
				width:200px;
				float: left;
				margin-right: 50px;
				p {
					margin: 0;
					color: #fff;
				}
			}
			.footer-menu {
				width: calc(100% - 500px);
				float: left;
				a {
					color: #fff;
					margin: 0 20px;
					transition: 0.3s;
					-webkit-transition: 0.3s;
					&:hover {
						color: #d5d5d5;
					}
				}
			}
			.social-media {
				width: 200px;
				float: left;
				margin-left: 50px;
				a {
					display: inline-block;
				}
				img {
					width: 28px;
					margin: 0 14px;
					max-height: 28px;
					&:last-of-type {
						margin-right: 0;
					}
				}
			}	
			.footer-bottom {
				float:left;
				width:100%;
				position: relative;
				margin-top: 20px;
				img {
					float: right;
					max-height: 46px;
					z-index: 2;
					position: relative;
					margin: 30px 30px 30px 0;
				}
			}
		}
	
		@media screen and (max-width: 850px) {

		}
		@media screen and (max-width: 550px) {

		}
		@media screen and (max-width: 500px) {

		}
	}
}






.upscale-tablet :host {
	.configuration {
		padding: 20px 0;
	}
}

.upscale-desktop :host  {
	.configuration {
		//padding: 20px 0;
		.container {
			max-width: none !important;
			width: 100%;
			.none {
				max-width: none !important;
				width: 100%;
			}
		}
	}
}



.container {
	width: 100%;
}